<form action='/result' method='post'>
   Your Name: <input type='text' name='name' id='name'>
   <br>
   Dojo location:
  <select name="Dojolocation" id='location'>
  <option value="chicago">Chicago</option>
  <option value="san jose">San Jose</option>
  <option value="texas">Texas</option>
 </select>
 <br>
 Favorite Language:
  <select name="FavoriteLanguage">
  <option value="python">Python</option>
  <option value="ruby">Ruby</option>
  <option value="ios">Ios</option>
</select>
  <p> Comment (optional):</p>
  <br>
  <textarea name="description"></textarea>
  <input type="submit" value="Submit" id="sub">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p id="msg">{{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
